.r {
    margin-left: 260px;
}

.cuadrado {
    background: blue;
    width: 250px;
    height: 250px;
    margin-top: 0px;
}


.cu1 {
    margin-top: 15px;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.cu11 {
    margin-top: 15px;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.cu2 {
    margin-top: 15px;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.cu22 {
    margin-top: 15px;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.cu {
    margin-top: 15px;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.cu3 {
    margin-top: 15px;
    color: white;
    text-shadow: 0.1em 0.1em black;
}


.rectangulo {
    width: 400px;
    height: 250px;
    background: pink;
    margin-top: 0px;
    margin-left: 900px;
}

.circulo {
    background: yellow;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 0;
    margin-left: 450px;
}


.triangulo {
    width: 250px;
    height: 250px;
    border-top: solid transparent 0px;
    border-left: solid transparent 130px;
    border-right: solid transparent 130px;
    border-bottom: solid green 250px;
    margin-top: 300px;
}



.le {
    margin-left: -55px;
    position: absolute;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.le2 {
    margin-left: -30px;
    position: absolute;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.le22 {
    margin-left: -30px;
    position: absolute;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.rombo {
    background-color: red;
    width: 155px;
    height: 155px;
    transform: rotate(45deg) skewX(5deg) skewY(5deg);
    margin-top: 345px;
    margin-left: 500px;
}

.ro {
    margin-top: 10px;
    transform: rotate(-45deg);
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.ro5 {
    margin-top: 15px;
    transform: rotate(-45deg);
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.paralelogramo {
    width: 400px;
    height: 100px;
    border-top: solid transparent 0px;
    border-left: solid transparent 130px;
    border-right: solid transparent 130px;
    border-bottom: solid purple 250px;
    margin-top: 300px;
    margin-left: 900px;
}

.pa {
    margin-left: -15px;
    position: absolute;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.pa22 {
    margin-left: 15px;
    position: absolute;
    color: white;
    text-shadow: 0.1em 0.1em black;
}

.c {
    background-image: url("../img/fondo_formas.avif");
}

.cc {
    background-image: url("../img/fondo_colores.jpg");
}

.e {
    width: 200px;
    height: 200px;
    margin-top: 700px;
    background-color: black;
}


.eso1>.letra1 {
    content-visibility: hidden;
}

.eso11>.letra11 {
    content-visibility: hidden;
}


.eso2>.letra2 {
    content-visibility: hidden;
}

.eso22>.letra22 {
    content-visibility: hidden;
}


.eso3>.letra3 {
    content-visibility: hidden;
}

.eso33>.letra33 {
    content-visibility: hidden;
}


.eso4>.letra4 {
    content-visibility: hidden;
}

.eso44>.letra44 {
    content-visibility: hidden;
}


.eso5>.letra5 {
    content-visibility: hidden;
}

.eso55>.letra55 {
    content-visibility: hidden;
}


.eso6>.letra6 {
    content-visibility: hidden;
}

.eso66>.letra66 {
    content-visibility: hidden;
}