#derecha{
    margin-left: 500px;
    margin-top: -340px;
}

.rojoo{
    width: 250px;
    height: 200px;
}

#entrada_rojo{
    margin-left: 500px;
}

#entrada_rosada{
    margin-left: 500px;
}

#verde{
    margin-left: 500px;
    margin-top: 500px;
}

#entrada_verde{
    margin-left: 500px;
}