.img{
    width: 800px;
}

.texto{
    font-family: 'Fredoka One', cursive;
    color: rgb(246, 247, 248);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.fondo{
    background-color: darksalmon;
}

